<template name="Microfis_sidebarMenu">
    <li class="{{isActiveRoute name='microfis.home'}}">
        <a href="{{pathFor 'microfis.home'}}">
            <i class="fa fa-home"></i> <span>Home</span>
        </a>
    </li>

    <!--Data-->
    {{#if isInRole 'data-insert,data-update,data-remove' 'Microfis'}}
        <li class="treeview active">

            <a href="{{pathFor 'microfis.repaymentQuickForm'}}">
                <i class="fa fa-paypal"></i> <span>Quick Payment</span>
            </a>
            <a href="#">
                <i class="fa fa-database"></i>
                <span>DATA</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>

            <ul class="treeview-menu" style="display: none">

                <li class="{{isActiveRoute name='microfis.client'}}">
                    <a href="{{pathFor 'microfis.client'}}">
                        <i class="fa fa-circle-o"></i> <span>Client</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.guarantor'}}">
                    <a href="{{pathFor 'microfis.guarantor'}}">
                        <i class="fa fa-circle-o"></i> <span>Guarantor</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.creditOfficer'}}">
                    <a href="{{pathFor 'microfis.creditOfficer'}}">
                        <i class="fa fa-circle-o"></i> <span>Credit Officer</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.groupLoan'}}">
                    <a href="{{pathFor 'microfis.groupLoan'}}">
                        <i class="fa fa-circle-o"></i> <span>Group Loan</span>
                    </a>
                </li>

                <li class="{{isActiveRoute name='microfis.group'}}">
                    <a href="{{pathFor 'microfis.group'}}">
                        <i class="fa fa-circle-o"></i> <span>Group</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.changeCO'}}">
                    <a href="{{pathFor 'microfis.changeCO'}}">
                        <i class="fa fa-circle-o"></i> <span>Change CO</span>
                    </a>
                </li>

                <!--Exchange-->
                <li class="{{isActiveRoute name='core.exchange'}}">
                    <a href="{{pathFor 'core.exchange'}}">
                        <i class="fa fa-circle-o"></i> <span>Exchange</span>
                    </a>
                </li>

                <li class="{{isActiveRoute name='acc.exchangeNBC'}}">
                    <a href="{{pathFor 'acc.exchangeNBC'}}">
                        <i class="fa fa-angle-right"></i> <span>{{_ "acc.sidebarMenu.exchangeNBC"}}</span>
                    </a>
                </li>

            </ul>
        </li>
    {{/if}}


    <!--POS-->
    {{#if isInRole 'data-insert,data-update,data-remove' 'Microfis'}}
        <li class="treeview active">
            <a href="#">
                <i class="fa fa-cogs"></i>
                <span>POS</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>

            <ul class="treeview-menu" style="display: none">
                <li class="{{isActiveRoute name='microfis.sale'}}">
                    <a href="{{pathFor 'microfis.sale'}}">
                        <i class="fa fa-circle-o"></i> <span>Sale</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.purchase'}}">
                    <a href="{{pathFor 'microfis.purchase'}}">
                        <i class="fa fa-circle-o"></i> <span>Purchase</span>
                    </a>
                </li>
                <hr>
                <li class="{{isActiveRoute name='microfis.category'}}">
                    <a href="{{pathFor 'microfis.category'}}">
                        <i class="fa fa-circle-o"></i> <span>Category</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.groupCategory'}}">
                    <a href="{{pathFor 'microfis.groupCategory'}}">
                        <i class="fa fa-circle-o"></i> <span>Group Category</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.vendor'}}">
                    <a href="{{pathFor 'microfis.vendor'}}">
                        <i class="fa fa-circle-o"></i> <span>Vendor</span>
                    </a>
                </li>
            </ul>
        </li>
    {{/if}}

    <!--Settings-->
    {{#if isInRole 'data-insert,data-update,data-remove' 'Microfis'}}
        <li class="treeview active">
            <a href="#">
                <i class="fa fa-cogs"></i>
                <span>Daily Process</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>

            <ul class="treeview-menu" style="display: none">
                <li class="{{isActiveRoute name='microfis.clearPrepay'}}">
                    <a href="{{pathFor 'microfis.clearPrepay'}}">
                        <i class="fa fa-circle-o"></i> <span>Clear Prepay</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.endOfProcess'}}">
                    <a href="{{pathFor 'microfis.endOfProcess'}}">
                        <i class="fa fa-circle-o"></i> <span>End Of Process</span>
                    </a>
                </li>
            </ul>
        </li>
    {{/if}}

    <!--Report-->
    {{#if isInRole 'reporter' 'Microfis'}}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-file-o"></i>
                <span>REPORT</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>

            <ul class="treeview-menu" style="display: none">
                <li class="treeview">
                    <a href="{{pathFor 'microfis.repaymentScheduleReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Repayment Schedule</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>

                    <ul class="treeview-menu" style="display: none">
                        <li class="{{isActiveRoute name='microfis.repaymentScheduleReport'}}">
                            <a href="{{pathFor 'microfis.repaymentScheduleReport'}}">
                                <i class="fa fa-circle-o"></i> <span>Repayment Schedule</span>
                            </a>
                        </li>
                        <li class="{{isActiveRoute name='microfis.repaymentScheduleForm1Report'}}">
                            <a href="{{pathFor 'microfis.repaymentScheduleForm1Report'}}">
                                <i class="fa fa-circle-o"></i> <span>Repayment Schedule I</span>
                            </a>
                        </li>
                        <li class="{{isActiveRoute name='microfis.repaymentScheduleSummaryReport'}}">
                            <a href="{{pathFor 'microfis.repaymentScheduleSummaryReport'}}">
                                <i class="fa fa-circle-o"></i> <span>Repayment Schedule II</span>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="{{isActiveRoute name='microfis.loanOutstandingReport'}}">
                    <a href="{{pathFor 'microfis.loanOutstandingReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Loan Outstanding</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.collectionSheetReport'}}">
                    <a href="{{pathFor 'microfis.collectionSheetReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Collection Sheet</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.collectionSheetGroupReport'}}">
                    <a href="{{pathFor 'microfis.collectionSheetGroupReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Collection Sheet Group</span>
                    </a>
                </li>

                <li class="{{isActiveRoute name='microfis.loanClosingReport'}}">
                    <a href="{{pathFor 'microfis.loanClosingReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Loan Closing</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.loanDisbursmentReport'}}">
                    <a href="{{pathFor 'microfis.loanDisbursmentReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Loan Disbursment</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.loanHistoryReport'}}">
                    <a href="{{pathFor 'microfis.loanHistoryReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Loan History</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.loanArrearsReport'}}">
                    <a href="{{pathFor 'microfis.loanArrearsReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Loan Arrears</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.loanRepaymentReport'}}">
                    <a href="{{pathFor 'microfis.loanRepaymentReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Loan Repayment</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.loanRepaymentFeeReport'}}">
                    <a href="{{pathFor 'microfis.loanRepaymentFeeReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Loan Repayment Fee</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.loanRepaymentWriteOffReport'}}">
                    <a href="{{pathFor 'microfis.loanRepaymentWriteOffReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Loan Repayment WriteOff</span>
                    </a>
                </li>

                <li class="{{isActiveRoute name='microfis.loanRepaymentWaiveClosingReport'}}">
                    <a href="{{pathFor 'microfis.loanRepaymentWaiveClosingReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Loan Waived Closing</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.needToClearPrepaymentReport'}}">
                    <a href="{{pathFor 'microfis.needToClearPrepaymentReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Pre Clear Prepayment</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.clearPrepaymentReport'}}">
                    <a href="{{pathFor 'microfis.clearPrepaymentReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Clear Prepayment</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.productActivityReport'}}">
                    <a href="{{pathFor 'microfis.productActivityReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Product Activity</span>
                    </a>
                </li>

                <li class="{{isActiveRoute name='microfis.writeOffReport'}}">
                    <a href="{{pathFor 'microfis.writeOffReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Write Off</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.writeOffEndingReport'}}">
                    <a href="{{pathFor 'microfis.writeOffEndingReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Write Off Ending</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.waivedReport'}}">
                    <a href="{{pathFor 'microfis.waivedReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Waived</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.clientBalanceReport'}}">
                    <a href="{{pathFor 'microfis.clientBalanceReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Deposit Balance</span>
                    </a>
                </li>
            </ul>
        </li>
    {{/if}}


    <!--Report-->
    {{#if isInRole 'reporter' 'Microfis'}}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-file-o"></i>
                <span>REPORT For NBC</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>

            <ul class="treeview-menu" style="display: none">
                <li class="{{isActiveRoute name='microfis.loanBreakDownByCurrencyReport'}}">
                    <a href="{{pathFor 'microfis.loanBreakDownByCurrencyReport'}}">
                        <i class="fa fa-circle-o"></i> <span>BreakingDown Currency</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.loanBreakDownByPurposeReport'}}">
                    <a href="{{pathFor 'microfis.loanBreakDownByPurposeReport'}}">
                        <i class="fa fa-circle-o"></i> <span>BreakingDown Purpose</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.loanClassificationReport'}}">
                    <a href="{{pathFor 'microfis.loanClassificationReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Loan Classification</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.loanNetworkInformationReport'}}">
                    <a href="{{pathFor 'microfis.loanNetworkInformationReport'}}">
                        <i class="fa fa-circle-o"></i> <span>Network Information</span>
                    </a>
                </li>

            </ul>
        </li>
    {{/if}}

    <!--Settings-->
    {{#if isInRole 'setting' 'Microfis'}}
        <li class="treeview active">
            <a href="#">
                <i class="fa fa-cogs"></i>
                <span>SETTING</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>

            <ul class="treeview-menu" style="display: none">
                <!--Loan-->
                <li class="dropdown-header">Loan</li>
                <li class="{{isActiveRoute name='microfis.product'}}">
                    <a href="{{pathFor 'microfis.product'}}">
                        <i class="fa fa-circle-o"></i> <span>Product</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.penaltyClosing'}}">
                    <a href="{{pathFor 'microfis.penaltyClosing'}}">
                        <i class="fa fa-circle-o"></i> <span>Penalty Closing</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.penalty'}}">
                    <a href="{{pathFor 'microfis.penalty'}}">
                        <i class="fa fa-circle-o"></i> <span>Penalty</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.holiday'}}">
                    <a href="{{pathFor 'microfis.holiday'}}">
                        <i class="fa fa-circle-o"></i> <span>Holiday</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.fund'}}">
                    <a href="{{pathFor 'microfis.fund'}}">
                        <i class="fa fa-circle-o"></i> <span>Fund</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.fee'}}">
                    <a href="{{pathFor 'microfis.fee'}}">
                        <i class="fa fa-circle-o"></i> <span>Fee</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.location'}}">
                    <a href="{{pathFor 'microfis.location'}}">
                        <i class="fa fa-circle-o"></i> <span>Location</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.setting'}}">
                    <a href="{{pathFor 'microfis.setting'}}">
                        <i class="fa fa-circle-o"></i> <span>Setting</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.lookupValue'}}">
                    <a href="{{pathFor 'microfis.lookupValue'}}">
                        <i class="fa fa-circle-o"></i> <span>Lookup Value</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.productStatus'}}">
                    <a href="{{pathFor 'microfis.productStatus'}}">
                        <i class="fa fa-circle-o"></i> <span>Product Status</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='microfis.paymentStatus'}}">
                    <a href="{{pathFor 'microfis.paymentStatus'}}">
                        <i class="fa fa-circle-o"></i> <span>Payment Status</span>
                    </a>
                </li>

                <!--Saving-->
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Saving</li>
                <li class="{{isActiveRoute name='microfis.savingProduct'}}">
                    <a href="{{pathFor 'microfis.savingProduct'}}">
                        <i class="fa fa-circle-o"></i> <span>Product</span>
                    </a>
                </li>

            </ul>
        </li>
    {{/if}}

</template>
