@media print {

    .display-on-print-div-loan {
        font-family: Arial, Verdana, Geneva, sans-serif;
        font-size: 11px;
        color: #000000;
        margin: 0px auto;
        padding: 0px;
        width: 1020px;
    }

    .display-on-print-div-landscape-loan {
        font-family: Arial, Verdana, Geneva, sans-serif;
        /*font-size: 9px;*/
        /*font-size: 75%;*/
        font-size: 11px !important;
        color: #000000;
        padding: 0px;

        width: 100%;
        height: 100%;
        margin: 0% 0% 0% 0%;
        filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=1);
    }

    .diplay-on-print-table-loan {
        width: 100%;
        margin-top: 30px;
        font-family: Arial, Verdana, Geneva, sans-serif;
        color: #000000;
        font-size: 11px !important;
        border-collapse: collapse;
        border: 1px solid black !important;
    }

    .diplay-on-print-header-loan {
        margin: 0px auto;
        width: 100%;
        padding: 0px;
        font-family: Arial, Verdana, Geneva, sans-serif;
        font-size: 11px !important;
        color: #000000;
        border-collapse: collapse;
        padding: 0px !important;
        vertical-align: middle !important;
    }

    .font-header{
        font-size: 15px !important;
        line-height: 30px !important;
    }

    .darkrendamount{
        color: darkred !important;
    }

    .diplay-on-print-header-loan > tr > th {
        font-weight: bold;
        background-color: lightgray !important;
        -webkit-print-color-adjust: exact;
        text-align: center !important;
        vertical-align: top;
    }

    .display-on-print-body-loan {
        border-collapse: collapse;
        width: 100%;
        font-size: 11px !important;
        margin-top: 30px;
        padding: 0px !important;
    }

    .display-on-print-div-loan > .table > thead > tr > th, .display-on-print-div-loan > .table > tbody > tr > th, .display-on-print-div-loan > .table > tfoot > tr > th, .display-on-print-div-loan > .table > thead > tr > td, .display-on-print-div-loan > .table > tbody > tr > td, .display-on-print-div-loan > .table > tfoot > tr > td {
        border: 1px solid black !important;
        padding: 3px !important;
    }

    /*Other 2*/
    .display-on-print-div-loan-2 {
        font-family: Arial, Verdana, Geneva, sans-serif;
        font-size: 14px !important;
        color: #000000;
        margin: 0px auto;
        padding: 0px;
        width: 1020px;
    }
   .display-on-print-div-loan-3 {
        font-family: Arial, Verdana, Geneva, sans-serif;
        font-size: 11px !important;
        color: #000000;
        margin: 0px auto;
        padding: 0px;
        width: 510px;
    }

    .non-border{
        border: unset !important;
    }
    .display-on-print-div-landscape-loan-2 {
        font-family: Arial, Verdana, Geneva, sans-serif;
        /*font-size: 9px;*/
        /*font-size: 75%;*/
        font-size: 14px !important;
        color: #000000;
        padding: 0px;

        width: 100%;
        height: 100%;
        margin: 0% 0% 0% 0%;
        filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=1);
    }

    .diplay-on-print-table-loan-2 {
        width: 100%;
        margin-top: 30px;
        font-family: Arial, Verdana, Geneva, sans-serif;
        color: #000000;
        font-size: 14px !important;
        border-collapse: collapse;
        border: 1px solid black !important;
    }

    .diplay-on-print-table-loan-3 {
        width: 100%;
        margin-top: 30px;
        font-family: Arial, Verdana, Geneva, sans-serif;
        color: #000000;
        font-size: 11px !important;
        border-collapse: collapse;
        border: 1px solid black;
    }

    .diplay-on-print-header-loan-2 {
        margin: 0px auto;
        width: 100%;
        padding: 0px;
        font-family: Arial, Verdana, Geneva, sans-serif;
        font-size: 14px !important;
        color: #000000;
        border-collapse: collapse;
        padding: 0px !important;
        vertical-align: middle !important;
    }
    .diplay-on-print-header-loan-3 {
        margin: 0px auto;
        width: 100%;
        padding: 0px;
        font-family: Arial, Verdana, Geneva, sans-serif;
        font-size: 11px !important;
        color: #000000;
        border-collapse: collapse;
        padding: 0px !important;
        vertical-align: middle !important;
    }

    .diplay-on-print-header-loan-2 > tr > th {
        font-weight: bold;
        background-color: lightgray !important;
        -webkit-print-color-adjust: exact;
        text-align: center !important;
        vertical-align: top;
    }
    .diplay-on-print-header-loan-3 > tr > th {
        font-weight: bold;
        background-color:  unset !important;
        -webkit-print-color-adjust: exact;
        text-align: center !important;
        vertical-align: top;
        font-size: 11px !important;
    }

    .display-on-print-body-loan-2 {
        border-collapse: collapse;
        width: 100%;
        font-size: 14px !important;
        margin-top: 30px;
        padding: 0px !important;
    }
    .display-on-print-body-loan-3 {
        border-collapse: collapse;
        width: 100%;
        font-size: 11px !important;
        margin-top: 30px;
        padding: 0px !important;
    }

    .display-on-print-div-loan-2 > .table > thead > tr > th, .display-on-print-div-loan-2 > .table > tbody > tr > th, .display-on-print-div-loan-2 > .table > tfoot > tr > th, .display-on-print-div-loan-2 > .table > thead > tr > td, .display-on-print-div-loan-2 > .table > tbody > tr > td, .display-on-print-div-loan-2 > .table > tfoot > tr > td {
        border: 1px solid black !important;
        padding: 3px !important;
    }
    .display-on-print-div-loan-3 > .table > tbody > tr > th, .display-on-print-div-loan-3 > .table > tfoot > tr > th, .display-on-print-div-loan-3 > .table > thead > tr > td, .display-on-print-div-loan-3 > .table > tbody > tr > td, .display-on-print-div-loan-3 > .table > tfoot > tr > td {
        border: 1px solid black;
        padding: 3px !important;
    }

    .display-on-print-div-loan-3 > .table > thead > tr > td{
        text-align: center;
    }

    .display-on-print-div-loan-3 > .table > thead > tr > th{
        border: unset !important;
    }

    /*Default 2*/
    .display-on-print-div-2 {
        font-family: Arial, Verdana, Geneva, sans-serif;
        font-size: 20px !important;
        color: #000000;
        margin: 0px auto;
        padding: 0px;
        width: 1020px;

    }

    .display-on-print-div-landscape-2 {
        font-family: Arial, Verdana, Geneva, sans-serif;
        /*font-size: 9px;*/
        font-size: 75%;
        color: #000000;
        padding: 0px;

        width: 100%;
        height: 100%;
        margin: 0% 0% 0% 0%;
        filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=1);
    }

    .diplay-on-print-table-2 {
        width: 100%;
        margin-top: 30px;
        font-family: Arial, Verdana, Geneva, sans-serif;
        color: #000000;
        font-size: 20px !important;
        border-collapse: collapse;
        border: 1px solid black !important;
    }
    .diplay-on-print-table-3 {
        width: 100%;
        margin-top: 30px;
        font-family: Arial, Verdana, Geneva, sans-serif;
        color: #000000;
        font-size: 12px !important;
        border-collapse: collapse;
        line-height: 30px !important;
        /*border: 1px solid black;*/
    }

    .diplay-on-print-header-2 {
        margin: 0px auto;
        width: 100%;
        padding: 0px;
        font-family: Arial, Verdana, Geneva, sans-serif;
        font-size: 20px !important;
        color: #000000;
        border-collapse: collapse;
    }
    .diplay-on-print-header-3 {
        margin: 0px auto;
        width: 100%;
        padding: 0px;
        font-family: Arial, Verdana, Geneva, sans-serif;
        font-size: 11px !important;
        color: #000000;
        border-collapse: collapse;
    }

    .diplay-on-print-header-2 > tr > th {
        font-weight: bold;
        background-color: lightgray !important;
        -webkit-print-color-adjust: exact;
        text-align: center !important;
        font-size: 20px !important;

    }

    .diplay-on-print-header-3 > tr > th {
        font-weight: bold;
        -webkit-print-color-adjust: exact;
        text-align: center !important;
        font-size: 11px !important;
        border: unset !important;
        background-color:  unset !important;


    }

    .display-on-print-body-2 {
        border-collapse: collapse;
        width: 100%;
        margin-top: 30px;
        font-size: 20px !important;

    }

    .display-on-print-body-3 {
        border-collapse: collapse;
        width: 100%;
        margin-top: 30px;
        font-size: 11px !important;

    }

    .display-on-print-div-2 > .table > thead > tr > th, .display-on-print-div-2 > .table > tbody > tr > th, .display-on-print-div-2 > .table > tfoot > tr > th, .display-on-print-div-2 > .table > thead > tr > td, .display-on-print-div-2 > .table > tbody > tr > td, .display-on-print-div-2 > .table > tfoot > tr > td {
        border: 1px solid black !important;
        font-size: 20px !important;
    }

    .display-on-print-div-3 > .table > tbody > tr > th, .display-on-print-div-3 > .table > tfoot > tr > th, .display-on-print-div-3 > .table > thead > tr > td, .display-on-print-div-3 > .table > tbody > tr > td, .display-on-print-div-3 > .table > tfoot > tr > td {
        border: 1px solid black;
        font-size: 11px !important;
    }

    .display-on-print-div-3 > .table > thead > tr > th{
        border: unset !important;
        background-color:  unset !important;

    }

    .display-on-print-div-3 > .table > thead > tr > td {
        text-align: center !important;
    }

    footer {
        position: relative;
        bottom: 0;
    }

    footer > p {
        page-break-inside: avoid !important;
    }

    .marigin-header {
        margin-bottom: 5px;
    }

    .break-page{
        page-break-before: always !important;
        page-break-inside: avoid;
        height: 100%;
    }
    .display-on-print-div-loan-3{
        page-break-after: always
    }

    .wantHide{
        display: unset !important;
    }

    #contentPageNumber{
        /*display: table  !important;*/
    }
    #footer-page {
        display: table-footer-group;
    }
    #footer-page:after {
        counter-increment: page !important;
        content:"Page " counter(page) !important;
        position: fixed;
        bottom: 0px !important;
        left: 50% !important;
        white-space: nowrap;
        z-index: 20px;
        -moz-border-radius: 5px;
        -moz-box-shadow: 0px 0px 4px #222;
        background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
        background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    }
}

.sub-div {

    font-family: Arial, Verdana, Geneva, sans-serif;
    color: #000000;
    font-size: 14px;
}

.sub-body {
    font-family: Arial, Verdana, Geneva, sans-serif;
    color: #000000;
    font-size: 14px;
}

.sub-header {
    font-family: Arial, Verdana, Geneva, sans-serif;
    color: #000000;
    font-size: 14px;
}

.sub-header > tr > th {
    text-align: center;
    vertical-align: middle !important;
    color: black !important;
    font-weight: bold !important;
}

.display-on-print-div-loan > .table > thead > tr > th, .display-on-print-div-loan > .table > tbody > tr > th, .display-on-print-div-loan > .table > tfoot > tr > th, .display-on-print-div-loan > .table > thead > tr > td, .display-on-print-div-loan > .table > tbody > tr > td, .display-on-print-div-loan > .table > tfoot > tr > td {
    border: 1px solid black !important;
}

.display-on-print-div-landscape-loan > .table > thead > tr > th, .display-on-print-div-landscape-loan > .table > tbody > tr > th, .display-on-print-div-landscape-loan > .table > tfoot > tr > th, .display-on-print-div-landscape-loan > .table > thead > tr > td, .display-on-print-div-landscape-loan > .table > tbody > tr > td, .display-on-print-div-landscape-loan > .table > tfoot > tr > td {
    border: 1px solid black !important;
}

.display-on-print-div-loan-2 > .table > thead > tr > th,.display-on-print-div-loan-3 > .table > thead > tr > th, .display-on-print-div-loan-2 > .table > tbody > tr > th, .display-on-print-div-loan-2 > .table > tfoot > tr > th, .display-on-print-div-loan-2 > .table > thead > tr > td, .display-on-print-div-loan-2 > .table > tbody > tr > td, .display-on-print-div-loan-2 > .table > tfoot > tr > td {
    border: 1px solid black !important;
}
.display-on-print-div-loan-3 > .table > tbody > tr > th, .display-on-print-div-loan-3 > .table > tfoot > tr > th, .display-on-print-div-loan-3 > .table > thead > tr > td, .display-on-print-div-loan-3 > .table > tbody > tr > td, .display-on-print-div-loan-3 > .table > tfoot > tr > td {
    border: 1px solid black ;
}

.display-on-print-div-loan-3 > .table > thead > tr > th{
    border: 0px !important;
}

.display-on-print-div-loan-3 > .table > thead > tr > td{
    text-align: center !important;
}

.display-on-print-div-landscape-loan-2 > .table > thead > tr > th, .display-on-print-div-landscape-loan-2 > .table > tbody > tr > th, .display-on-print-div-landscape-loan-2 > .table > tfoot > tr > th, .display-on-print-div-landscape-loan-2 > .table > thead > tr > td, .display-on-print-div-landscape-loan-2 > .table > tbody > tr > td, .display-on-print-div-landscape-loan-2 > .table > tfoot > tr > td {
    border: 1px solid black !important;
}

.display-on-print-div-2 > .table > thead > tr > th, .display-on-print-div-2 > .table > tbody > tr > th, .display-on-print-div-2 > .table > tfoot > tr > th, .display-on-print-div-2 > .table > thead > tr > td, .display-on-print-div-2 > .table > tbody > tr > td, .display-on-print-div-2 > .table > tfoot > tr > td {
    border: 1px solid black !important;
}

.display-on-print-div-landscape-2 > .table > thead > tr > th, .display-on-print-div-landscape-2 > .table > tbody > tr > th, .display-on-print-div-landscape-2 > .table > tfoot > tr > th, .display-on-print-div-landscape-2 > .table > thead > tr > td, .display-on-print-div-landscape-2 > .table > tbody > tr > td, .display-on-print-div-landscape-2 > .table > tfoot > tr > td {
    border: 1px solid black !important;
}

.horizontal-scroll {
    overflow-x: scroll;

}

.fixed {
    top: 0;
    position: fixed;
    width: auto;
    display: none;
}

.end {
    margin-top: 800px;
}

.marigin-header {
    margin-bottom: 5px;
}
.break-page{
    page-break-before: always !important;
    page-break-inside: avoid;
}
/*#content {
    display: table;
}

#pageFooter {
    display: table-footer-group;
}

#pageFooter:after {
    counter-increment: page;
    content: counter(page);
}
#pageFooter:after {
    counter-increment: page;
    content:"Page " counter(page);
    right: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 20px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
}*/

#contentPageNumber{
    /*display: table;*/
}
#footer-page {
    display: table-footer-group;
}
#footer-page:after {
    counter-increment: page;
    content:"Page " counter(page);
    position: fixed;
    bottom: 0px !important;
    left: 50% !important;
    white-space: nowrap;
    z-index: 20px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
}

.wantHide{
    display: none;
}

