@media print {

    .display-on-print-div {
        font-family: Arial, Verdana, Geneva, sans-serif;
        font-size: 16px;
        color: #000000;
        margin: 0px auto;
        padding: 0px;
        width: 1020px;

    }

    .display-on-print-div-landscape {
        font-family: Arial, Verdana, Geneva, sans-serif;
        /*font-size: 9px;*/
        font-size: 75%;
        color: #000000;
        padding: 0px;

        width: 100%;
        height: 100%;
        margin: 0% 0% 0% 0%;
        filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=1);
    }

    .diplay-on-print-table {
        width: 100%;
        margin-top: 30px;
        font-family: Arial, Verdana, Geneva, sans-serif;
        color: #000000;
        font-size: 16px;
        border-collapse: collapse;
        border: 1px solid black !important;
    }

    .diplay-on-print-header {
        margin: 0px auto;
        width: 100%;
        padding: 0px;
        font-family: Arial, Verdana, Geneva, sans-serif;
        font-size: 16px;
        color: #000000;
        border-collapse: collapse;
    }

    .diplay-on-print-header > tr > th {
        font-weight: bold;
        background-color: lightgray !important;
        -webkit-print-color-adjust: exact;
        text-align: center !important;
    }

    .display-on-print-body {
        border-collapse: collapse;
        width: 100%;
        margin-top: 30px;
        padding: 3px;
    }

    .display-on-print-div > .table > thead > tr > th, .display-on-print-div > .table > tbody > tr > th, .display-on-print-div > .table > tfoot > tr > th, .display-on-print-div > .table > thead > tr > td, .display-on-print-div > .table > tbody > tr > td, .display-on-print-div > .table > tfoot > tr > td {
        border: 1px solid black !important;
        padding: 3px;
    }

    footer {
        position: relative;
        bottom: 0;
    }

    footer > p {
        page-break-inside: avoid !important;
    }

}

.sub-div {
    font-family: Arial, Verdana, Geneva, sans-serif;
    color: #000000;
    font-size: 14px;
}

.sub-body {
    font-family: Arial, Verdana, Geneva, sans-serif;
    color: #000000;
    font-size: 14px;
}

.sub-header {
    font-family: Arial, Verdana, Geneva, sans-serif;
    color: #000000;
    font-size: 14px;
}

.display-on-print-div > .table > thead > tr > th, .display-on-print-div > .table > tbody > tr > th, .display-on-print-div > .table > tfoot > tr > th, .display-on-print-div > .table > thead > tr > td, .display-on-print-div > .table > tbody > tr > td, .display-on-print-div > .table > tfoot > tr > td {
    border: 1px solid black !important;
}

.display-on-print-div-landscape > .table > thead > tr > th, .display-on-print-div-landscape > .table > tbody > tr > th, .display-on-print-div-landscape > .table > tfoot > tr > th, .display-on-print-div-landscape > .table > thead > tr > td, .display-on-print-div-landscape > .table > tbody > tr > td, .display-on-print-div-landscape > .table > tfoot > tr > td {
    border: 1px solid black !important;
}




